{% macro render_field(field, groupid=None) %}
    {% if field.errors %}
	{% if groupid %}
	    <div class="form-group error" id="{{ groupid }}">
	{% else %}
		<div class="form-group error">
	{% endif %}
    {% else %}
	{% if  groupid %}
	    <div class="form-group" id="{{ groupid }}">
	{% else %}
		<div class="form-group">
	{% endif %}
    {% endif %}

    
    {% if field.type != "HiddenField" %}
	<div class="col-sm-2 control-label">{{ field.label }}</div>
    {% endif %}

    <div class="col-sm-4">
	{{ field(class_="form-control", placeholder=field.description, **kwargs)|safe }}
	{% if field.errors %}
	    <span class="help-inline">
		{% for error in field.errors %}
		    {{ error }}
		{% endfor %}
	    </span>
	{% endif %}
    </div>
		</div>
{% endmacro %}
