{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import render_submit %}
{% block content %}
    <div class="row">
	<div class="col-sm-6">
	    <form class="form-horizontal" method="post" action="{{ url_for('analyse') }}">
		{{ form.hidden_tag() }}
		{{ render_field(form.symbols) }}
		{{ render_field(form.start) }}
		{{ render_field(form.end) }}
		{{ render_field(form.analysts)}}
		{{ render_field(form.strategy) }}
		{{ render_field(form.parameters) }}
		{{ render_submit("analyse") }}
	    </form>
	</div>
	<div class="col-sm-6">
	    <h4>Analysts</h4>
	    <table class="table">
		<thead>
		    <tr>
			<th>name</th>
			<th>doc</th>
		    </tr>
		</thead>
		<tbody>
		    {% for analyst in analysts %}
			<tr>
			    <td>
				{{ analyst.name }}
			    </td>
			    <td>
				{{ publish_parts(analyst.__doc__, writer_name='html')['html_body']|safe }}
			    </td>
			</tr>
		    {% endfor %}
		</tbody>
	    </table>
	    <h4>Strategies</h4>

	    <table class="table">
		<thead>
		    <tr>
			<th>name</th>
			<th>doc</th>
		    </tr>
		</thead>
		<tbody>
		    {% for strategy in strategies %}
			<tr>
			    <td>
				{{ strategy.name }}
			    </td>
			    <td>
				{{ publish_parts(strategy.__doc__, writer_name='html')['html_body']|safe }}
			    </td>
			</tr>
	    {% endfor %}
		</tbody>
	    </table>
	</div>
    </div>

{% endblock content %}
