{% extends "base.html" %}

{% block content %}
    <div class="row">
	<div class="col-sm-6">
	    <h4>jobs</h4>
	    <table class="table">
		<thead>
		    <tr>
			<th>time</th>
			<th>algo</th>
			<th>state</th>
			<th>op</th>
		    </tr>
		</thead>
		<tbody>
		    {% for id, result in jobs.iteritems() %}
			<tr>
			    <td>{{ result['parameters']['time'] }}</td>
			    <td>{{ result['parameters']['algorithm'] }}</td>
			    <td>{{ result != None }}</td>
			    <td>
				<a href="{{ url_for('job', id=id) }}">
				    open
				</a>
			    </td>
			    <td>
				<a href="{{ url_for('delete_result', id=id) }}">
				    delete
				</a>
			    </td>
			</tr>
		    {% endfor %}
		</tbody>
	    </table>
	</div>

	<div class="col-sm-6">
	    <h4>scheduled jobs</h4>
	    <table class="table">
		<thead>
		    <tr>
			<th>name</th>
			<th>time</th>
			<th>op</th>
		    </tr>
		</thead>
		<tbody>
		    {% for job, time in scheduled %}
			<tr>
			    <td>{{ job.func_name }}</td>
			    <td>{{ time }}</td>
			    <td>
				<a href="{{ url_for('cancel', id=job.id) }}">cancel</a>
			    </td>
			</tr>

		    {% endfor %}

		</tbody>
	    </table>
	</div>
    </div>

{% endblock content %}
